.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.videos {
    width: 90%;
    margin: auto;
}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 5vw;
    padding: 5vw 0;
}

.column {
    display: block;
    grid-row: 1;
}

.title img {
    margin-top: 5vh;
}

video {
    display: block;
    width: 100%;
    background-color: #191919;
}

.title {
    display: block;
    background-color: #191919;
    box-shadow: 0px 0px 50px black;
    grid-column: 1 / span 1;
}

.video {
    grid-column: 2 / span 2;
    display: block;
    box-shadow: 0px 0px 50px black;
}

.row:nth-child(even) .title {
    grid-column: 3 / span 1;
}

.row:nth-child(even) .video {
    grid-column: 1 / span 2;
}

h1 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 26.4px;
}

h3 {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
}

a,
p,
input {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
}

blockquote {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 21px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 30px;
}

pre {
    font-family: 'Segoe UI', Frutiger, 'Frutiger Linotype', 'Dejavu Sans',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 18.5714px;
}

div.header {
    background-color: #191919;
    height: 98vh;
    width: 100%;
}

div.footer {
    display: block;
    height: 10vw;
    background-color: #191919;
    width: 100%;
}

body {
    margin: 0px;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

img {
    align-self: center;
}

h1 {
    font-size: 5rem;
}

h3 {
    font-size: 1.5rem;
}

img#hum {
    height: 9vh;
}

.jumbotron {
    position: relative;
    display: block;
    top: 20%;
}

form {
    width: 60vh;
    margin: auto;
    margin-top: 40px;
}

input {
    display: inline;
    position: relative;
}

span {
    text-align: center;
}

#url {
    width: 50vh;
    height: 6vh;
    background-color: black;
    opacity: 0.5;
    border: none;
    float: left;
    color: white;
    padding-left: 20px;
}

#submit {
    width: 10vh;
    height: 6vh;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 15px;
}

#git {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    margin-top: 3rem;
}
